
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList
@using PagedList.Mvc
@model IPagedList<MobileShopOnline.Models.ViewModel.MobileViewModel>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form-inline text-center" style="margin-bottom:20px">
        @Html.TextBox("searchName", "", new { @class = "form-control", @style ="margin-right: 20px" })
        @Html.DropDownList("searchCategory", new SelectList(ViewBag.ListCategory), "Selected Category", new { @class = "form-control", @style ="margin-right: 20px" })
        <input type="submit" class="btn btn-info" value="Search" />
    </div>
}

@foreach (var item in Model)
{
    <div class="col-lg-4">
        <div class="thumbnail text-center">
            
            <img src="~/Images/@item.Image" class="img-thumbnail" style="height:210px; width:350px" />
            <h4><span class="glyphicon glyphicon-circle-arrow-right"></span> @item.Name</h4>
            <h5><span class="glyphicon glyphicon-usd"></span> @item.Price</h5>
            <a href="@Url.Action("AddToCart", "Cart", new { id = item.MobileId, page = Model.PageNumber })" class="btn btn-info" style="width:120px; margin-right: 10px"><span class="glyphicon glyphicon-plus"></span> Add To Cart</a>
            <a href="@Url.Action("Index" , "Detail", new { id = item.MobileId})" class="btn btn-warning" style="width:120px"><span class="glyphicon glyphicon-share" style="margin-right:10px"></span>Detail</a>
        </div>
    </div>
}
<div class="row col-lg-12 text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchName = ViewBag.searchName, @searchCategory = ViewBag.searchCategory }))
</div>

