@using MobileShopOnline.App.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mobile Shop", "Index", new { controller = "Mobile"}, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session[Constants.USER_SESSION] != null)
                    {
                        if (((AccountLogin)Session[Constants.USER_SESSION]).Role.Equals("admin"))
                        {

                            <li class="nav-item">
                                @Html.ActionLink("Manager Mobile", "Index", "Mobile")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Manager Account", "Index", "Account")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Log out", "LogOut","LogOut")
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mobile shop online</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>